center{
                    margin-top: 50px;
}
#hamza{
           padding-top: 50px; 
           color: rgb(255, 255, 255);     
           border: 100% solid rgb(109, 95, 95);   
           background-color: black;
}